.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

:root {
	--railway-track-pos-x: 0;
	--railway-track-pos-y: 0;
	--railway-animation-factor: 1;
}

.track {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	transition: transform calc(var(--railway-animation-factor) * 0.6s)
			cubic-bezier(0.28, 1.13, 0.64, 1),
		visibility calc(var(--railway-animation-factor) * 0.7s),
		opacity calc(var(--railway-animation-factor) * 1.1s);
	opacity: 0;
	visibility: hidden;
}

.track[data-is-active='true'] {
	opacity: 1;
	visibility: visible;
}

.track {
	top: calc(100% * var(--railway-track-pos-y));
	left: calc(100% * var(--railway-track-pos-x));
}
